---
import Location from "./Location.astro";
import Clock from "./Clock.astro";
import Phone from "./Phone.astro";
---

<section class="py-16 sm:py-20 lg:py-24 bg-[#16110f]" id="contact">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2
        class="text-3xl sm:text-4xl font-bold leading-tight tracking-tight text-white"
      >
        Visit Us
      </h2>
      <p class="mt-4 text-lg text-white/75">
        We'd love to host you. Find us at the heart of the city.
      </p>
    </div>
    <div class="mt-12 grid lg:grid-cols-2 gap-12 items-start">
      <div>
        <div
          class="aspect-video w-full rounded-lg bg-gray-700 overflow-hidden"
          data-location="Tuscany, Italy"
          style="https://lh3.googleusercontent.com/aida-public/AB6AXuBQBJz_wLAS7EMRfzJitKCcXox-taeO2cL9FeD9_lhyBniPQzyWCZd2F8AtNZ9fccWaxnmHVtTVDv3E-qLBLtjcfe1m9MfIHI72AxykLYjcAKumUMFhfvrIgtrNHNG8amcGJ4ZRAFMSdNXVhZyLPJvCSs_PRm4VEseP_h6Ikz50sM-p0_VDCp9s4gzyTl9cELNs17erpcWzPzLr4O6SKYiyXx_RSKhT5uBhDXTgf9W3ljWZG55lwY3duqeSDrLbiEUofa5RvguHcw"
        >
          <img
            alt="A beautiful, vibrant street in Tuscany, Italy with classic architecture and a clear blue sky, representing the restaurant's location."
            class="w-full h-full object-cover"
            src="./ubication2.png"
          />
        </div>
      </div>
      <div class="flex flex-col gap-6">
        <div class="flex items-start gap-4">
          <span class="material-symbols-outlined text-[#ec4913] text-2xl mt-1"
            ><Location /></span
          >
          <div>
            <h3 class="font-bold text-lg text-gray-900 dark:text-white">
              Address
            </h3>
            <p class="text-white/75">
              123 Culinary Lane, Florence, Tuscany 50123
            </p>
          </div>
        </div>
        <div class="flex items-start gap-4">
          <span class="material-symbols-outlined text-[#ec4913] text-2xl mt-1"
            ><Clock /></span
          >
          <div>
            <h3 class="font-bold text-lg text-gray-900 dark:text-white">
              Hours
            </h3>
            <p class="text-white/75">Mon - Fri: 5pm - 11pm</p>
            <p class="text-white/75">Sat - Sun: 4pm - 12am</p>
          </div>
        </div>
        <div class="flex items-start gap-4">
          <span class="material-symbols-outlined text-[#ec4913] text-2xl mt-1"
            ><Phone /></span
          >
          <div>
            <h3 class="font-bold text-lg text-gray-900 dark:text-white">
              Contact Us
            </h3>
            <p class="text-white/75">hello@thegoldenspoon.com</p>
            <p class="text-white/75">(123) 456-7890</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
