<footer class="bg-[#181311]">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between items-center gap-8">
      <div class="text-center md:text-left">
        <p class="text-base font-bold text-white">The Golden Spoon</p>
        <p class="text-sm text-white/75">
          &copy; 2024. All Rights Reserved. by sylenthmen
        </p>
      </div>
      <nav class="flex gap-6 text-white">
        <a class="text-sm hover:text-primary transition-colors" href="#menu"
          >Menu</a
        >
        <a class="text-sm hover:text-primary transition-colors" href="#about"
          >About</a
        >
        <a class="text-sm hover:text-primary transition-colors" href="#contact"
          >Contact</a
        >
      </nav>
    </div>
  </div>
</footer>
