<section id="home">
  <div class="absolute z-20 w-full h-svh items-center flex flex-col">
    <h1
      class="text-white text-4xl md:text-8xl lg:text-8xl font-bold text-center pt-32 md:pt-48 lg:pt-64 capitalize"
    >
      the golden spoon
    </h1>
    <p
      class="text-white text-center text-lg md:text-xl lg:text-2xl mt-6 px-4 md:px-0 opacity-100"
    >
      Experience the finest dining with us. Delicious food, cozy atmosphere, and
      exceptional service await you.
    </p>
    <a
      href="#"
      class="p-4 bg-[#ed4a13] mt-6 rounded-2xl text-white font-bold hover:p-4.5 transition-all"
      >Make a reservation</a
    >
  </div>
  <div class="absolute z-10 bg-black w-full h-svh opacity-40"></div>
  <div class="w-full h-svh overflow-hidden relative">
    <img
      class="absolute w-full h-full object-cover object-center"
      src="/bg.png"
      alt="Restaurant background"
    />
  </div>
</section>
